@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

.wrapper {
    @apply overflow-hidden w-full flex h-[7.375rem]
}

.slider {
    @apply flex w-[700%] h-[7.375rem] gap-9 items-center;
    animation: slide 40s linear infinite;
}