@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.slick-dots {
  bottom: -32px !important;
}

.slick-dots li.slick-active button:before {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background: #334155;
  opacity: 1 !important;
  content: '';
}

.slick-dots li button:before {
  content: '' !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background: #99F6E4;
  opacity: 1 !important;
}